*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-color: #fff;
  --first-color: #000;
  --second-color: #fff;
}

body {
  min-inline-size: 1100px;
  margin: 0;
  font-family: Raleway, sans-serif;
  background-color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;

}

img {
  width: 100%;
}
